{% extends "base.html" %}

{% block subtitle %}About{% endblock subtitle %}

{% block content %}
    <h1>About</h1>

    <p>About my side...</p>

    <h2>Authors</h2>
    {% if authors %}
        <ul>
            {% for author in authors %}<li>{{ author }}</li>{% endfor %}
        </ul>
    {% else %}
        <p>
            Sorry we do not have any authors yet!!!!
        </p>
    {% endif %}

    <form method="post" action="/about">
        <input type="text" name="author" placeholder="Please enter the author name.">

        <input type="submit" value="Add Author">
    </form>
{% endblock content %}